form {
  width: 60%;
  margin: auto;
  background-color: aliceblue;
  padding: 10px;
}
.sub {
  font-size: 18px !important;
  font-weight: 600 !important;
  background-color: antiquewhite !important;
}
